@import "tailwindcss";

@theme {
  --color-primary: #0F4C81;
  --color-secondary: #ffffff;
  --color-accent: #e2e8f0;
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #334155;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
